.pick-tickets-well {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.border-white {
    padding: 0em;
}

.border-black{
    color: grey;
    /*border white with light shadow*/
    text-shadow:
            2px   0  0   #000,
            -2px   0  0   #000,
            0    2px 0   #000,
            0   -2px 0   #000,
            1px  1px 0   #000,
            -1px -1px 0   #000,
            1px -1px 0   #000,
            -1px  1px 0   #000,
            1px  1px 5px #000;
}
.text-center{
    color: white;
    font-size: 50px;
}

.list-of-tickets {
    border-style: solid;
    border-width: 0.75em;
    border-color: black;
    background: black;
    padding: 0.5em;
}

.unselected {
	padding: 2em;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
}

.selected {
	padding: 2em;
	border-style: solid;
	border-width: 0.1em;
	border-color: red;
}

.tickets {
    font-size: 20px;
}

.pick-tickets-bg-image
{
    background-size: cover;
    background-repeat: no-repeat;
}
