.ticket-border {
    border-style: solid;
    border-width: 0.4em;
    border-color: black;
    overflow: auto;
    height: 580px;
    width: 100%;
    background-color: white;
}

.list-group-item {
    text-align: center;
}