.listingTitle {
	font-size: 24px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
@media (min-width: 900px) {
	.listingTitle {
		text-align: center;
		display: block;
		margin: 0 auto;
		font-size: 50px;
	}

}