# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/js/node_modules

# testing
/js/coverage

# production
/js/build

# misc
/js/.DS_Store
/js/.env.local
/js/.env.development.local
/js/.env.test.local
/js/.env.production.local

/js/npm-debug.log*
/js/yarn-debug.log*
/js/yarn-error.log*

npm-debug.log

# IntelliJ & Pycharm project files
/.idea
.idea
/js/.idea
/py/.idea
/py/__pycache__

/py/*.pyc