.blueOverlay
{
    background-color: rgba(3,107,181,0.75);
}

.redOverlay
{
    background-color: rgba(236,23,76,0.50);
}

.whiteOverlay
{
    background-color: rgba(255,255,255,0.30);
}

.grayOverlay
{
    background-color: rgba(176,176,176,0.35);
}

.blackOverlay
{
    background-color: rgba(0,0,0,0.60);
}


.parallaxSize
{
    height: 1000px;
}

.centerThis
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.homeMainLogo
{
    height: 75%;
    width: 75%;
}

.blankSpace
{
    height: 900px;
}

.parallaxDivider
{
    height: 300px;
    background-color: #FFFFFF;

    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;

    padding: 50px;

    text-align: center;
}
.parallaxDivider.pdHeader
{
    font: 30px "Lato", sans-serif;
}
.parallaxDivider.pdText
{
    font: 20px "Lato", sans-serif;
}

h3
{
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 10px "Lato", sans-serif;
}