.blueOverlay
{
    background-color: rgba(3,107,181,0.75);
}

.redOverlay
{
    background-color: rgba(236,23,76,0.50);
}

.whiteOverlay
{
    background-color: rgba(255,255,255,0.30);
}

.grayOverlay
{
    background-color: rgba(176,176,176,0.35);
}

.blackOverlay
{
    background-color: rgba(0,0,0,0.60);
}

.parallaxSize
{
    height: 1000px;
}

.parallaxDivider
{
    padding: 10px;
    padding-top: 20px;
}

.parallaxText
{
    background-color: #FFFFFF;

    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;

    text-align: center;
}
.parallaxTextHeader
{
    font: 50px "Tw Cen MT Condensed";
    font-weight: bold;
    letter-spacing: 2px;
}
.parallaxTextBody
{
    padding-top: 20px;
    font: 35px "Tw Cen MT Condensed";
}

.parallaxTextBodyBlock
{
    text-align: center;
    padding-top: 10px;
}
.parallaxTextBodyBlockText
{
    display: inline-block;
    text-align: left;
    list-style-position:inside;
    font: 25px "Calibri";
    color: #036bb5;
}

.parallaxSearchSize
{
    height: 600px;
}

.searchCenter
{
    padding-top: 10px;
    text-align: center;
}

.searchDesc
{
    padding-top: 10px;
    font: 35px "Tw Cen MT Condensed";
}

.centerThis
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.centerThisWithPadding
{
    padding-top: 5%;
}

.homeMainLogo
{
    height: 75%;
    width: 75%;
}
