.teamLogo {
	max-width: 50%;
	display: block;
	margin: 0 auto;
}
.teamLogoLeftBig {
	max-width: 15%;
	max-height: 15%;
	align: left;
	display: inline;
	margin-right: 10%;
}
.teamLogoLeft {
	max-width: 15%;
	max-height: 15%;
	align: left;
	display: inline;
	margin-right: 10%;
}
.teamLogoRight {
	max-width: 15%;
	max-height: 15%;
	align: right;
	display: inline;
	margin-left: 10%;
}